input[type = "date"] {
    -webkit-appearance: none;
    border-radius: 0;
}

.grid-containerCompleteProfile {
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 20% 65% 15%;
    grid-template-areas: "completeProfileHeader" "completeProfileDetails" "completeProfileActions";
  }

  .completeProfileHeader {
    display: grid;
    grid-area: completeProfileHeader;
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
    grid-template-areas: "completeProfileHeaderTitle" "completeProfileHeaderMsg";
  }

  .completeProfileHeaderTitle {
    display: grid;
    grid-area: completeProfileHeaderTitle;
    grid-template-columns: 75% 25%;
    grid-template-rows: 100%;
    grid-template-areas: "completeProfileHeaderTitleWord completeProfileHeaderBack";

  }

  .completeProfileHeaderTitleWord {
    grid-area: completeProfileHeaderTitleWord;
    position: relative;
  }

  .completeProfileHeaderBack {
    grid-area: completeProfileHeaderBack;
    position: relative;
  }

  .completeProfileHeaderBack img
  {
    position: absolute;
    width: 27%;
    bottom: 20%;
    left: 36.5%;
  }

  .completeProfileHeaderTitleWord p
  {
    position: absolute;
    bottom: 2.5%;
    left: 7.5%;
    font-size: 8vw;
    font-weight: bold;
    color: rgb(64, 64, 64);
  }

  .completeProfileHeaderMsg {
    grid-area: completeProfileHeaderMsg;
    position: relative;
  }

  .completeProfileHeaderMsg p {
    position: absolute;
    top: 7.5%;
    left: 7.5%;
    font-size: 5.5vw;
    color: rgb(150, 196, 239);
  }

  .completeProfileDetails {
    display: grid;
    grid-area: completeProfileDetails;
    grid-template-columns: 100%;
    grid-template-rows: 14.28% 14.28% 14.28% 14.28% 14.28% 8% 20.6%;
    grid-template-areas: "completeProfileUser" "completeProfileFirst" "completeProfileLast" "." "." "." "terms";
  }

  .completeProfileUser {
    display: grid;
    grid-area: completeProfileUser;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    grid-template-areas: "completeProfileUserName" "completeProfileUserInput";
  }

  .completeProfileUserName {
    grid-area: completeProfileUserName;
    position: relative;
  }

  .completeProfileUserInput {
    grid-area: completeProfileUserInput;
    position: relative;
  }

  .completeProfileUserName p {
    position: absolute;
    color: rgb(216, 216, 216);
    font-size: 4.3vw;
    left: 9%;
  }

  .completeProfileUserInput input {
    position: absolute;
    color: black;
    font-size: 4.3vw;
    left: 9%;
    width: 82%;
    border-bottom: solid 1.5px rgb(150, 196, 239);
    border-top: none;
    border-left: none;
    border-right: none;
    top: 3%;
    padding-bottom: 2%;
    height: 80%;
  }

  .completeProfileFirst {
    grid-area: completeProfileFirst;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    grid-template-areas: "completeProfileFirstName" "completeProfileFirstInput";
  }

  .completeProfileFirstName {
    grid-area: completeProfileFirstName;
    position: relative;
  }

  .completeProfileFirstInput {
    grid-area: completeProfileFirstInput;
    position: relative;
  }

  .completeProfileFirstName p {
    position: absolute;
    color: rgb(216, 216, 216);
    font-size: 4.3vw;
    left: 9%;
  }

  .completeProfileFirstInput input {
    position: absolute;
    color: black;
    font-size: 4.3vw;
    left: 9%;
    width: 82%;
    border-bottom: solid 1.5px rgb(150, 196, 239);
    border-top: none;
    border-left: none;
    border-right: none;
    top: 3%;
    padding-bottom: 2%;
    height: 80%;
  }

  .completeProfileLast {
    grid-area: completeProfileLast;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    grid-template-areas: "completeProfileLastName" "completeProfileLastInput";
  }

  .completeProfileLastName {
    grid-area: completeProfileLastName;
    position: relative;
  }

  .completeProfileLastInput {
    grid-area: completeProfileLastInput;
    position: relative;
  }

  .completeProfileLastName p {
    position: absolute;
    color: rgb(216, 216, 216);
    font-size: 4.3vw;
    left: 9%;
  }

  .completeProfileLastInput input {
    position: absolute;
    color: black;
    font-size: 4.3vw;
    left: 9%;
    width: 82%;
    border-bottom: solid 1.5px rgb(150, 196, 239);
    border-top: none;
    border-left: none;
    border-right: none;
    top: 3%;
    padding-bottom: 2%;
    height: 80%;
  }

  .inputTitleP {
    position: absolute;
    color: rgb(216, 216, 216);
    font-size: 4.3vw;
    left: 9%;
  }

  .inputP {
    position: absolute;
    color: black;
    font-size: 4.3vw;
    left: 9%;
    width: 82%;
    border-bottom: solid 1.5px rgb(150, 196, 239);
    border-top: none;
    border-left: none;
    border-right: none;
    top: 3%;
    padding-bottom: 2%;
    height: 80%;
  }

  .terms {
    grid-area: terms;
    position: relative;
    padding: 10%;
  }

  .terms p {
    text-align: right;
  }

  .check {
    transform: scale(1.7);
  }

  .buttonNext {
    position: absolute;
    width: 45%;
    height: 15vw;
    background-color: rgb(99, 200, 242);
    border-radius: 10px;
    left: 7.5%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .buttonNext:active {
    background-color: rgb(5, 104, 146);
  }

  .buttonNext p {
    position: absolute;
    color: white;
    height: 50%;
    width: 100%;
    text-align: center;
    top: 25%;
    font-size: 5.5vw;
  }

  .completeProfileActions {
    grid-area: completeProfileActions;
    position: relative;
  }

  .link {
    text-align: center;
    font-size: 4.3vw;
    font-weight: bold;
    color: rgb(150, 196, 239);
  }

  .linkText {
    text-align: center;
    font-size: 4.3vw;
    color: rgb(102, 102, 102);
  }
