.grid-containerActivity {
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    grid-template-areas: "activityHeader" "activityBody";
}

.activityHeader {
    display: grid;
    grid-area: activityHeader;
    grid-template-columns: 75% 25%;
    grid-template-rows: 100%;
    grid-template-areas: "activityHeading activityExit";
}

.activityHeading {
    grid-area: activityHeading;
    position: relative;
}

.activityHeader p
{
    position: absolute;
    top: 29%;
    left: 7.5%;
    font-size: 8vw;
    font-weight: bold;
    line-height: 1;
    color: rgb(64, 64, 64);
}
  
.activityExit {
    grid-area: activityExit;
    position: relative;
}

.activityExit img {
    position: absolute;
    width: 20%;
    top: 35%;
    left: 36.5%;
}

.activityBody {
    grid-area: activityBody;
    position: relative;
}

.activityScrollContent {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.notification {
    position: relative;
    width: 100%;
    min-height: 90px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: block;
    margin: 20px auto;
    padding: 10px;
}

.notification img {
    position: absolute;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.notification p {
    position: absolute;
    font-weight: bold;
    text-align: center;
    padding-left: 70px;
    padding-right: 30px;
    font-size: 15px;
    color: rgb(177, 177, 177);
    vertical-align: middle;
}
