.grid-containerBuyCredits {
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
    grid-template-areas: "buyCreditsHeader" "buyCreditsBody";
}

.buyCreditsHeader {
    display: grid;
    grid-area: buyCreditsHeader;
    grid-template-columns: 75% 25%;
    grid-template-rows: 100%;
    grid-template-areas: "buyCreditsHeading buyCreditsExit";
}

.buyCreditsHeading {
    grid-area: buyCreditsHeading;
    position: relative;
}

.buyCreditsHeader p
{
    position: absolute;
    top: 29%;
    left: 7.5%;
    font-size: 8vw;
    font-weight: bold;
    line-height: 1;
    color: rgb(64, 64, 64);
}
  
.buyCreditsExit {
    grid-area: buyCreditsExit;
    position: relative;
}

.buyCreditsExit img {
    position: absolute;
    width: 20%;
    top: 35%;
    left: 36.5%;

}

.buyCreditsBody {
    grid-area: buyCreditsBody;
    position: relative;
}

.buyCreditsBody p {
    position: absolute;
    width: 80%;
    left: 10%;
    height: 100%;
    text-align: justify;
    overflow-y: scroll;
}