.grid-containerEditProfile {
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 20% 65% 15%;
    grid-template-areas: "editProfileHeader" "editProfileDetails" "editProfileActions";
  }
  
  .editProfileHeader {
    display: grid;
    grid-area: editProfileHeader;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
    grid-template-areas: "editProfileHeaderTitle" "editProfileHeaderMsg";
  }
  
  .editProfileHeaderTitle {
    grid-area: editProfileHeaderTitle;
    position: relative;
  }
  
  .editProfileHeaderTitle p
  {
    position: absolute;
    bottom: 2.5%;
    left: 7.5%;
    font-size: 8vw;
    font-weight: bold;
    color: rgb(64, 64, 64);
  }
  
  .editProfileHeaderMsg {
    grid-area: editProfileHeaderMsg;
    position: relative;
  }
  
  .editProfileHeaderMsg p {
    position: absolute;
    top: 7.5%;
    left: 7.5%;
    font-size: 5.5vw;
    color: rgb(150, 196, 239);
  }
  
  .editProfileDetails {
    display: grid;
    grid-area: editProfileDetails;
    grid-template-columns: 100%;
    grid-template-rows: 14.28% 14.28% 14.28% 14.28% 14.28% 8% 20.6%;
    grid-template-areas: "editProfileUser" "editProfileFirst" "editOldPassword" "editNewPassword" "editConfirmNewPassword" "." "terms";
  }
  
  .editProfileUser {
    display: grid;
    grid-area: editProfileUser;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    grid-template-areas: "editProfileUserName" "editProfileUserInput";
  }
  
  .editProfileUserName {
    grid-area: editProfileUserName;
    position: relative;
  }
  
  .editProfileUserInput {
    grid-area: editProfileUserInput;
    position: relative;
  }

  .editProfileUserName p {
    position: absolute;
    color: rgb(216, 216, 216);
    font-size: 4.3vw;
    left: 9%;
  }
  
  .editProfileUserInput input {
    position: absolute;
    color: black;
    font-size: 4.3vw;
    left: 9%;
    width: 82%;
    border-bottom: solid 1.5px rgb(150, 196, 239);
    border-top: none;
    border-left: none;
    border-right: none;
    top: 3%;
    padding-bottom: 2%;
    height: 80%;
  }
  
  .editProfileFirst {
    grid-area: editProfileFirst;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    grid-template-areas: "editProfileFirstName" "editProfileFirstInput";
  }
  
  .editProfileFirstName {
    grid-area: editProfileFirstName;
    position: relative;
  }
  
  .editProfileFirstInput {
    grid-area: editProfileFirstInput;
    position: relative;
  }
  
  .editProfileFirstName p {
    position: absolute;
    color: rgb(216, 216, 216);
    font-size: 4.3vw;
    left: 9%;
  }
  
  .editProfileFirstInput input {
    position: absolute;
    color: black;
    font-size: 4.3vw;
    left: 9%;
    width: 82%;
    border-bottom: solid 1.5px rgb(150, 196, 239);
    border-top: none;
    border-left: none;
    border-right: none;
    top: 3%;
    padding-bottom: 2%;
    height: 80%;
  }
  
  .editOldPassword {
    grid-area: editOldPassword;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    grid-template-areas: "editOldPasswordName" "editOldPasswordInput";
  }
  
  .editOldPasswordName {
    grid-area: editOldPasswordName;
    position: relative;
  }
  
  .editOldPasswordInput {
    grid-area: editOldPasswordInput;
    position: relative;
  }

  .editOldPasswordName p {
    position: absolute;
    color: rgb(216, 216, 216);
    font-size: 4.3vw;
    left: 9%;
  }
  
  .editOldPasswordInput input {
    position: absolute;
    color: black;
    font-size: 4.3vw;
    left: 9%;
    width: 82%;
    border-bottom: solid 1.5px rgb(150, 196, 239);
    border-top: none;
    border-left: none;
    border-right: none;
    top: 3%;
    padding-bottom: 2%;
    height: 80%;
  }

  .editNewPassword {
    grid-area: editNewPassword;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    grid-template-areas: "editNewPasswordName" "editNewPasswordInput";
  }
  
  .editNewPasswordName {
    grid-area: editNewPasswordName;
    position: relative;
  }
  
  .editNewPasswordInput {
    grid-area: editNewPasswordInput;
    position: relative;
  }

  .editNewPasswordName p {
    position: absolute;
    color: rgb(216, 216, 216);
    font-size: 4.3vw;
    left: 9%;
  }
  
  .editNewPasswordInput input {
    position: absolute;
    color: black;
    font-size: 4.3vw;
    left: 9%;
    width: 82%;
    border-bottom: solid 1.5px rgb(150, 196, 239);
    border-top: none;
    border-left: none;
    border-right: none;
    top: 3%;
    padding-bottom: 2%;
    height: 80%;
  }

  .editConfirmNewPassword {
    grid-area: editConfirmNewPassword;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    grid-template-areas: "editConfirmNewPasswordName" "editConfirmNewPasswordInput";
  }
  
  .editConfirmNewPasswordName {
    grid-area: editConfirmNewPasswordName;
    position: relative;
  }
  
  .editConfirmNewPasswordInput {
    grid-area: editConfirmNewPasswordInput;
    position: relative;
  }

  .editConfirmNewPasswordName p {
    position: absolute;
    color: rgb(216, 216, 216);
    font-size: 4.3vw;
    left: 9%;
  }
  
  .editConfirmNewPasswordInput input {
    position: absolute;
    color: black;
    font-size: 4.3vw;
    left: 9%;
    width: 82%;
    border-bottom: solid 1.5px rgb(150, 196, 239);
    border-top: none;
    border-left: none;
    border-right: none;
    top: 3%;
    padding-bottom: 2%;
    height: 80%;
  }

  .inputTitleP {
    position: absolute;
    color: rgb(216, 216, 216);
    font-size: 4.3vw;
    left: 9%;
  }
  
  .inputP {
    position: absolute;
    color: black;
    font-size: 4.3vw;
    left: 9%;
    width: 82%;
    border-bottom: solid 1.5px rgb(150, 196, 239);
    border-top: none;
    border-left: none;
    border-right: none;
    top: 3%;
    padding-bottom: 2%;
    height: 80%;
  }
  
  .terms {
    grid-area: terms;
    position: relative;
  }
  
  .buttonNext {
    position: absolute;
    width: 45%;
    height: 15vw;
    background-color: rgb(99, 200, 242);
    border-radius: 10px;
    left: 7.5%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .buttonNext:active {
    background-color: rgb(5, 104, 146);
  }
  
  .buttonNext p {
    position: absolute;
    color: white;
    height: 50%;
    width: 100%;
    text-align: center;
    top: 25%;
    font-size: 5.5vw;
  }
  
  .editProfileActions {
    grid-area: editProfileActions;
    position: relative;
  }
  
  .link {
    text-align: center;
    font-size: 4.3vw;
    font-weight: bold;
    color: rgb(150, 196, 239);
  }
  
  .linkText {
    text-align: center;
    font-size: 4.3vw;
    color: rgb(102, 102, 102);
  }