.card
{
  width: 60%;
  height: 90%;
  margin: 0 auto;
  top: 5%;
  border-radius: 20px;
}

.grid-containerCard {
  display: grid;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 30% 30% 30% 10%;
  grid-template-areas: "eventPicture" "eventDescription" "eventInfo" "eventBlankSpace";
}

.eventPicture {
  grid-area: eventPicture;
}

.eventPicture img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.eventDescription {
  display: grid;
  grid-area: eventDescription;
  grid-template-columns: 100%;
  grid-template-rows: 30% 70%;
  grid-template-areas: "aboutHeading" "aboutDescription";
}

.aboutHeading {
  grid-area: aboutHeading;
  position: relative;
}

.aboutHeading p
{
  color: rgb(66, 64, 62);
  position: absolute;
  text-align: center;
  font-size: 2.3vw;
  height: 50%;
  width: 100%;
  top: 50%;
}

.aboutDescription {
  grid-area: aboutDescription;
}

.eventInfo {
  display: grid;
  grid-area: eventInfo;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "eventLocation eventDt" "eventCredits eventTickets";
}

.infoText
{
  color: rgb(66, 64, 62);
  position: absolute;
  text-align: center;
  font-size: 2.3vw;
  height: 50%;
  width: 100%;
  top: 25%;
}

.infoDetail
{
  color: rgb(66, 64, 62);
  position: absolute;
  text-align: center;
  font-size: 2.5vw;
  height: 50%;
  width: 100%;
  top: 0%;
  text-transform: uppercase;
  font-weight: bold;
}

.eventLocation {
  display: grid;
  grid-area: eventLocation;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "locationTitle" "locationInfo";
  border-top: solid 0.5px rgb(235, 235, 235);
  border-bottom: solid 0.5px rgb(235, 235, 235);
  border-right: solid 0.5px rgb(235, 235, 235);
}

.locationTitle {
  grid-area: locationTitle;
  position: relative;
}

.locationInfo {
  grid-area: locationInfo;
  position: relative;
}

.eventDt {
  display: grid;
  grid-area: eventDt;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "dateTitle" "dateInfo";
  border-top: solid 0.5px rgb(235, 235, 235);
  border-bottom: solid 0.5px rgb(235, 235, 235);
}

.dateTitle {
  grid-area: dateTitle;
  position: relative;
}

.dateInfo {
  grid-area: dateInfo;
  position: relative;
}

.eventCredits {
  display: grid;
  grid-area: eventCredits;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "creditsTitle" "creditsInfo";
  border-bottom: solid 0.5px rgb(235, 235, 235);
  border-right: solid 0.5px rgb(235, 235, 235);
}

.creditsTitle {
  grid-area: creditsTitle;
  position: relative;
}

.creditsInfo {
  grid-area: creditsInfo;
  position: relative;
}

.eventTickets {
  display: grid;
  grid-area: eventTickets;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "ticketsTitle" "ticketsInfo";
  border-bottom: solid 0.5px rgb(235, 235, 235);
}

.ticketsTitle {
  grid-area: ticketsTitle;
  position: relative;
}

.ticketsInfo {
  grid-area: ticketsInfo;
  position: relative;
}

.eventBlankSpace {
  grid-area: eventBlankSpace;
}

.prompt
{
  width: 100%;
  margin: 0 auto;
}

.ui {
  width: 100%;
}

.men
{
  width: 100%;
  height: 100%;
}

.grid-containerEvents {
  display: grid;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 5% 10% 60% 5% 7.5% 12.5%;
  grid-template-areas: "filler" "eventsHeader" "eventsCards" "eventsMsg" "eventsCode" "eventsClaimBtn"
}

.filler
{
  display: grid;
  grid-area: filler;
}

.eventsHeader {
  display: grid;
  grid-area: eventsHeader;
  grid-template-columns: 75% 25%;
  grid-template-rows: 100%;
  grid-template-areas: "eventTitle eventsBurger";
}

.eventTitle {
  position: relative;
  grid-area: eventTitle;
}

#hTitle {
  position: absolute;
  top: 0;
  left: 7.5%;
  font-size: 7vw;
  font-weight: bold;
  line-height: 1;
  color: rgb(64, 64, 64);
}

.eventsBurger {
  display: grid;
  grid-area: eventsBurger;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "eventsMenuIcon" "eventsBlank";
}

.eventsBlank {
  grid-area: eventsBlank;
}

.eventsMenuIcon {
  grid-area: eventsMenuIcon;
  position: relative;
}

.eventsMenuIcon img
{
  position: absolute;
  width: 27%;
  top: 0;
  left: 36.5%;
}

.eventsDate {
  grid-area: eventsDate;
  position: relative;
}

.eventsCards {
  grid-area: eventsCards;
}

.eventsMsg {
  grid-area: eventsMsg;
  position: relative;
}

.eventsMsg p
{
  position: absolute;
  text-align: center;
  color: rgb(108, 108, 108);
  width: 100%;
  height: 50%;
  top: 0%;
  font-size: 5vw;
}

.eventsCode {
  display: grid;
  grid-area: eventsCode;
  grid-template-columns: 16.665% 16.665% 16.665% 16.665% 16.665% 16.665%;
  grid-template-rows: 100%;
  grid-template-areas: "d1 d2 d3 d4 d5 d6";
}

.d6 {
  grid-area: d6;
  position: relative;
}

.d1 {
  grid-area: d1;
  position: relative;
}

.d2 {
  grid-area: d2;
  position: relative;
}

.d3 {
  grid-area: d3;
  position: relative;
}

.d4 {
  grid-area: d4;
  position: relative;
}

.d5 {
  grid-area: d5;
  position: relative;
}

.digit
{
  background-color: rgb(235, 235, 235);
  width: 60%;
  padding-bottom: 60%;
  border-radius: 50%;
  position: absolute;
  left: 20%;
}

.innerDigit
{
  background-color: rgb(180, 182, 185);
  width: 15%;
  height: 15%;
  border-radius: 50%;
  position: absolute;
  left: 42.5%;
  top: 42.5%;
}

.eventsClaimBtn {
  position: relative;
  grid-area: eventsClaimBtn;
  background-color: rgb(99, 200, 242);
}

.eventsClaimBtn p
{
  width: 100%;
  height: 50%;
  position: absolute;
  top: 25%;
  text-align: center;
  color: white;
  font-size: 200%;
}

.containerMenu {
  display: grid;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 28.57% 71.43%;
  grid-template-areas: "top" "bottom";
}

.top {
  display: grid;
  grid-area: top;
  grid-template-columns: 100%;
  grid-template-rows: 25% 50% 25%;
  grid-template-areas: "blank" "profilePicture" "menuName";
  background-color: rgba(255, 255, 255, 0);
  background-color: transparent;
}

.roundedBorder
{
  height: 50%;
  width: 100%;
  background-color: aqua;
  z-index: 100;
}

.profilePicture {
  display: grid;
  grid-area: profilePicture;
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: 100%;
  grid-template-areas: "picLef circlePic picRight";
  background: linear-gradient(to top, white 0%, white 50%, transparent 50%, transparent 100%);
}

.circlePic {
  grid-area: circlePic;
}

.picLef {
  grid-area: picLef;
}

.picRight {
  grid-area: picRight;
}

.menuName {
  grid-area: menuName;
  position: relative;
  background-color: white;
}

.menuName p
{
  position: absolute;
  height: 80%;
  width: 100%;
  top: 10%;
  text-align: center;
  font-size: 200%;
  color: rgb(235, 233, 233);
}

.blank {
  grid-area: blank;
}

.bottom {
  display: grid;
  grid-area: bottom;
  grid-template-columns: 100%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-areas: "homeButton" "activityButton" "profileButton" "searchButton" "exitArea";
  background-color: white;
}

.homeButton {
  grid-area: homeButton;
}

.activityButton {
  grid-area: activityButton;
}

.profileButton {
  grid-area: profileButton;
}

.searchButton {
  grid-area: searchButton;
}

.exitArea {
  display: grid;
  grid-area: exitArea;
  grid-template-columns: 45% 10% 45%;
  grid-template-rows: 100%;
  grid-template-areas: "exitLeft exitButton exitRight";
}

.exitButton {
  grid-area: exitButton;
  position: relative;
}

.exitButton img {
  position: absolute;
  top: 20%;
  width: 100%;
}

.exitLeft {
  grid-area: exitLeft;
}

.exitRight {
  grid-area: exitRight;
}

.modal
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.myButton
{
  background-color: rgb(99, 200, 242);
  height: 80%;
  margin-left: 10%;
  top: 10%;
  width: 80%;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.myButton p
{
  position: absolute;
  color: white;
  font-size: 180%;
  font-weight: thin;
  width: 100%;
  height: 50%;
  top: 25%;
}