.grid-containerForgot {
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
    grid-template-areas: "forgotHeader" "forgotBody";
}

.forgotHeader {
    display: grid;
    grid-area: forgotHeader;
    grid-template-columns: 75% 25%;
    grid-template-rows: 100%;
    grid-template-areas: "forgotHeading forgotExit";
}

.forgotHeading {
    grid-area: forgotHeading;
    position: relative;
}

.forgotHeader p
{
    position: absolute;
    top: 29%;
    left: 7.5%;
    font-size: 8vw;
    font-weight: bold;
    line-height: 1;
    color: rgb(64, 64, 64);
}
  
.forgotExit {
    grid-area: forgotExit;
    position: relative;
}

.forgotExit img {
    position: absolute;
    width: 20%;
    top: 35%;
    left: 36.5%;

}

.forgotBody {
    grid-area: forgotBody;
    position: relative;
}

.forgotBody p {
    position: absolute;
    width: 80%;
    left: 10%;
    height: 100%;
    text-align: justify;
    overflow-y: scroll;
}