.grid-containerForgotPassword {
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 20% 65% 15%;
    grid-template-areas: "forgotPasswordHeader" "forgotPasswordDetails" "forgotPasswordActions";
  }
  
  .forgotPasswordHeader {
    display: grid;
    grid-area: forgotPasswordHeader;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
    grid-template-areas: "forgotPasswordHeaderTitle" "forgotPasswordHeaderMsg";
  }
  
  .forgotPasswordHeaderTitle {
    display: grid;
    grid-area: forgotPasswordHeaderTitle;
    grid-template-columns: 75% 25%;
    grid-template-rows: 100%;
    grid-template-areas: "forgotTitle forgotExit";
  }

  .forgotTitle{
    grid-area: forgotTitle;
    position: relative;
  }
  
  .forgotTitle p{
    position: absolute;
    bottom: 2.5%;
    left: 7.5%;
    font-size: 8vw;
    font-weight: bold;
    color: rgb(64, 64, 64);
  }

  .forgotExit{
    grid-area: forgotExit;
    position: relative;
  }
  
  .forgotExit img
{
    position: absolute;
    width: 20%;
    top: 50%;
    left: 36.5%;
  }
  
  .forgotPasswordHeaderMsg {
    grid-area: forgotPasswordHeaderMsg;
    position: relative;
  }
  
  .forgotPasswordHeaderMsg p {
    position: absolute;
    top: 7.5%;
    left: 7.5%;
    font-size: 5.5vw;
    color: rgb(150, 196, 239);
  }
  
  .forgotPasswordDetails {
    display: grid;
    grid-area: forgotPasswordDetails;
    grid-template-columns: 100%;
    grid-template-rows: 14.28% 14.28% 14.28% 14.28% 14.28% 8% 20.6%;
    grid-template-areas: "." "forgotPasswordEmail" "forgotDetails" "." "forgotDetailsButton" "." ".";
  }
  
  .forgotPasswordEmail {
    display: grid;
    grid-area: forgotPasswordEmail;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    grid-template-areas: "forgotPasswordEmailName" "forgotPasswordEmailInput";
  }
  
  .forgotPasswordEmailName {
    grid-area: forgotPasswordEmailName;
    position: relative;
  }
  
  .forgotPasswordEmailInput {
    grid-area: forgotPasswordEmailInput;
    position: relative;
  }

  .forgotPasswordEmailName p {
    position: absolute;
    color: rgb(216, 216, 216);
    font-size: 4.3vw;
    left: 9%;
  }
  
  .forgotPasswordEmailInput input {
    position: absolute;
    color: black;
    font-size: 4.3vw;
    left: 9%;
    width: 82%;
    border-bottom: solid 1.5px rgb(150, 196, 239);
    border-top: none;
    border-left: none;
    border-right: none;
    top: 3%;
    padding-bottom: 2%;
    height: 80%;
  }
  
  .forgotDetails {
    grid-area: forgotDetails;
    position: relative;
  }

  .forgotDetails p {
    position: absolute;
    width: 80%;
    left: 10%;
    text-align: center;
    font-size: 3.5vw;
    font-weight: bold;
    color: rgb(204, 204, 204);
    top: 15%;
  }

  .forgotDetailsButton {
      grid-area: forgotDetailsButton;
      position: relative;
  }

  .buttonNext {
    position: absolute;
    width: 45%;
    height: 15vw;
    background-color: rgb(99, 200, 242);
    border-radius: 10px;
    left: 7.5%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .buttonNext:active {
    background-color: rgb(5, 104, 146);
  }
  
  .buttonNext p {
    position: absolute;
    color: white;
    height: 50%;
    width: 100%;
    text-align: center;
    top: 25%;
    font-size: 5.5vw;
  }
  
  .forgotPasswordActions {
    grid-area: forgotPasswordActions;
    position: relative;
  }