.nameField{
  background-color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 180%;
}

.creditDiv{
  background-color: white;
  padding-top: 2%;
  padding-bottom: 5%;
  font-size: 150%;
}

.image
{
  border-radius: 100%;
}