.grid-containerTerms {
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
    grid-template-areas: "termsHeader" "termsBody";
}

.termsHeader {
    display: grid;
    grid-area: termsHeader;
    grid-template-columns: 75% 25%;
    grid-template-rows: 100%;
    grid-template-areas: "termsHeading termsExit";
}

.termsHeading {
    grid-area: termsHeading;
    position: relative;
}

.termsHeader p
{
    position: absolute;
    top: 20%;
    left: 7.5%;
    font-size: 8vw;
    font-weight: bold;
    line-height: 1;
    color: rgb(64, 64, 64);
}
  
.termsExit {
    grid-area: termsExit;
    position: relative;
}

.termsExit img {
    position: absolute;
    width: 20%;
    top: 35%;
    left: 36.5%;

}

.termsBody {
    grid-area: termsBody;
    position: relative;
}

.termsBody p {
    position: absolute;
    width: 80%;
    left: 10%;
    height: 100%;
    text-align: justify;
    overflow-y: scroll;
}

.-webkit-scrollbar * {
    background:transparent; // manage scrollbar background color here
  }