<ion-view can-swipe-back="false">
    <ion-content scroll = "false" style = "padding-top: env(safe-area-inset-top)">
        <div class="grid-containerActivity">
            <div class="activityHeader">
                <div class="activityHeading"><p>Activity</p></div>
                <div class="activityExit">
                  <img src = "/img/exit.png" alt = "exit" ng-click="activity.exit()" href = "#/events">
                  <!--<p class = "clearAll" ng-click = "activity.clearNotifications()">CLEAR ALL</p>-->
                </div>
            </div>
            <div class="activityBody">
                <ion-content class = "activityScrollContent">
                    <div class = "notification" ng-repeat = "notification in activity.updateNotifications | orderBy: '-timestamp'">
                        <div class = "grid-containerNotification">
                            <div class = "notificationPicture flexCenter"><img src = {{notification.picture}}></div>
                            <div class = "notificationMessage flexCenter"><p ng-style = "activity.getColor(notification)">{{notification.description}}</p></div>
                        </div>
                    </div>
                </ion-content>
            </div>
        </div>
    </ion-content>
</ion-view>
