<ion-view view-title="Complete Your Profile" can-swipe-back="false">
    <ion-content scroll = "false">
        <div class="grid-containerCompleteProfile">
            <div class="completeProfileHeader">
                <div class="completeProfileHeaderTitle">
                    <div class="completeProfileHeaderTitleWord"><p>Complete Your Profile</p></div>
                    <div class="completeProfileHeaderBack"><img src = "/img/back.png" alt = "back" ng-click="completeProfile.back()" href = "#/events"></div>
                </div>
                <div class="completeProfileHeaderMsg"><p class = "completeInstructions">Fill in your details to start claiming</p></div>
            </div>
            <div class="completeProfileDetails">
                <div class="completeProfileUser">
                    <div class="completeProfileUserName"><p class = "inputTitleP">Email</p></div>
                    <div class="completeProfileUserInput"><input class = "inputP" placeholder = "Enter your email address" type="email" ng-model="completeProfile.email" required = "true" ng-click = "completeProfile.resetAll()"></div>
                </div>
                <div class="completeProfileFirst">
                    <div class="completeProfileFirstName"><p class = "inputTitleP">Date of Birth</p></div>
                    <div class="completeProfileFirstInput"><input class = "inputP" type = "date" ng-model="completeProfile.dob" required = "true" ng-click = "completeProfile.resetAll()"></div>
                </div>
                <div class="completeProfileLast">
                    <div class="completeProfileLastName"><p class = "inputTitleP">Gender</p></div>
                    <div class="completeProfileLastInput">
                        <select class = "inputP" style="background-color: transparent; border-radius: 0%" ng-model="completeProfile.gender" required = "true" ng-click = "completeProfile.resetAll()">
                            <option value="" selected disabled hidden>Choose</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                            <option value="notSay">Prefer not to say</option>
                        </select>
                    </div>
                </div>
                <div class="terms"><center><input class = "check" style = "display: inline" type = "checkbox" required = "true" ><p style = "display: inline" ng-click="completeProfile.terms()" href = "#/termsConditions.html">&emsp; I agree that I have read and understood the <b>Terms &amp; Conditions</b></p></center></div>
            </div>
            <div class="completeProfileActions">
                <div class = "buttonNext" ng-click = "completeProfile.finish()" href = "#/events"><p>Sign Up</p></div>
            </div>
        </div>
    </ion-content>
</ion-view>
