<ion-view view-title="Edit Your Profile" can-swipe-back="false">
    <ion-content scroll = "false">
        <div class="grid-containerEditProfile">
            <div class="editProfileHeader">
                <div class="editProfileHeaderTitle"><p>Edit Profile</p></div>
                <div class="editProfileHeaderMsg"><p>Make some changes</p></div>
            </div>
            <div class="editProfileDetails">
                <div class="editProfileUser">
                    <div class="editProfileUserName"><p class = "inputTitleP">Username</p></div>
                    <div class="editProfileUserInput"><input class = "inputP" placeholder = {{editProfile.user.username}} type = "user" ng-model="editProfile.username" required = "true"></div>
                </div>
                <div class="editProfileFirst">
                    <div class="editProfileFirstName"><p class = "inputTitleP">Email</p></div>
                    <div class="editProfileFirstInput"><input class = "inputP" placeholder = {{editProfile.user.email}} type="email" ng-model="editProfile.email" required = "true"></div>
                </div>
                <div class="editOldPassword">
                    <div class="editOldPasswordName"><p class = "inputTitleP">Old Password</p></div>
                    <div class="editOldPasswordInput"><input class = "inputP" placeholder = "Enter your old password" type="password" ng-model="editProfile.passOld" required = "true"></div>
                </div>
                <div class="editNewPassword">
                    <div class="editNewPasswordName"><p class = "inputTitleP">New Password</p></div>
                    <div class="editNewPasswordInput"><input class = "inputP" placeholder = "Enter your new password" type="password" ng-model="editProfile.passNew1" required = "true"></div>
                </div>
                <div class="editConfirmNewPassword">
                    <div class="editConfirmNewPasswordName"><p class = "inputTitleP">New Password</p></div>
                    <div class="editConfirmNewPasswordInput"><input class = "inputP" placeholder = "Confirm your new password" type="password" ng-model="editProfile.passNew2" required = "true"></div>
                </div>
                <div class="terms"></div>
            </div>
            <div class="editProfileActions">
                <div class = "buttonNext" ng-click="editProfile.save()" href="#/profile"><p>Save</p></div>
            </div>
        </div>
    </ion-content>
</ion-view>
