<ion-view view-title="Reset Password" can-swipe-back="false">
        <ion-content scroll = "false">
            <div class="grid-containerForgotPassword">
                <div class="forgotPasswordHeader">
                    <div class="forgotPasswordHeaderTitle">
                        <div class = "forgotTitle"><p>Reset Password</p></div>
                        <div class = "forgotExit"><img src = "/img/exit.png" alt = "exit" ng-click="forgotPassword.exit()" href = "#/login"></div>
                    </div>
                    <div class="forgotPasswordHeaderMsg"><p>Enter your email to continue</p></div>
                </div>
                <div class="forgotPasswordDetails">
                    <div class="forgotPasswordEmail">
                        <div class="forgotPasswordEmailName"><p class = "inputTitleP">Email</p></div>
                        <div class="forgotPasswordEmailInput"><input class = "inputP" placeholder = "Enter your email address" type = "Email" ng-model="forgotPassword.email" required = "true"></div>
                    </div>
                    <div class = "forgotDetails"><p>An email will be sent to your email address with instructions to reset your password</p></div>
                    <div class = "forgotDetailsButton"><div class = "buttonNext" ng-click="forgotPassword.reset()" href="#/login"><p>Reset</p></div></div>
                </div>
                <div class="forgotPasswordActions">

                </div>
            </div>
        </ion-content>
    </ion-view>
