<ion-view view-title="Welcome">
    <ion-content scroll="false">
        <div class="grid-containerLaunch">
            <div class="launchWelcome"><p>WELCOME TO</p></div>
            <div class="launchTitle1"><p>TICKET</p></div>
            <div class="launchTitle2"><p>SALAD</p></div>
            <div class="launchAbout"><p>YOUR WAY TO THE WORLD</p></div>
            <div class="launchLogo">
              <!--  <img src = /img/Logo.jpg alt = "logo">-->
            </div>
            <div class="launchSignIn"><div class = "launchButton in" ng-click = "launch.signIn()" href ="#/login"><p>Sign In</p></div></div>
            <div class="launchSignUp"><div class = "launchButton up" ng-click = "launch.signUp()" href ="#/signup"><p>Sign Up</p></div></div>
            <div class="launchInfo"><p>HOW IT WORKS</p></div>
        </div>
    </ion-content>
</ion-view>
