<ion-view view-title="Buy Credits">
        <ion-content>

                <div class="fluid ui card">
                        <a class="image" >
                                <center><h1 class="ui header" style="padding-top: 5%">Choose Card</h1></center>
                          <img src="/img/card.png">
                        </a>
                        <div class="content">
                          <a class="header" href="/img/card.png">1234 5678 9876 5432 (VISA)</a>
                          <div class="meta">
                            <a>Current selected card.</a>
                          </div>
                        </div>
                      </div>

                      <center><div class="ui  action input">
                            <input id = "money" type="text" value="0">
                            <button class="ui teal labeled icon button">
                              <i class="cart icon"></i>
                              Buy Credits
                            </button>
                            
                          </div></center>

                          <div style="padding: 20%"></div>
                
            
            <button class="ui fluid blue button"  ng-click = "buyCredits.done()">Done</button> 
        </ion-content>
    </ion-view>