<ion-view view-title="Complete Your Profile">
    <ion-content>
        <div class="container" style = "padding-top: 5%">
            <form class="ui form">
                <div class="field">
                    <label>Name</label>
                    <input type="text" name="first-name" placeholder="Name" size="14" ng-model="completeProfile.name">
                </div>            
                <div class="field">
                    <label>Surname</label>
                    <input type="text" name="surname" placeholder="Surname" ng-model="completeProfile.surname">
                </div>
                <div class="field">
                    <label>Mobile Number</label>
                    <input type="text" name="mobile-number" placeholder="Mobile number" ng-model="completeProfile.number">
                </div>
                <div class="field">
                    <label>Gender</label>     
                    <div class="ui form">
                        <div class="grouped fields">
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input name="gen" checked="checked" type="radio" ng-model="completeProfile.genderM">
                                    <label>Male</label>
                                </div>
                                <div class="ui radio checkbox">
                                    <input name="gen" type="radio" ng-model="completeProfile.genderF">
                                    <label>Female</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Type of ID</label>     
                    <div class="ui form">
                        <div class="grouped fields">
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input name="example2" checked="checked" type="radio" ng-model="completeProfile.idRadio">
                                    <label>RSA ID</label>
                                </div>
                                <div class="ui radio checkbox">
                                    <input name="example2" type="radio" ng-model="completeProfile.passportRadio">
                                    <label>Passport</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>ID</label>
                    <input type="text" name="id" placeholder="ID" ng-model="completeProfile.id">
                </div>
                <center>
                    <div class="ui submit button" ng-click="completeProfile.update()" >Submit</div>
                </center>
            </form>
        </div>
    </ion-content>
</ion-view>