<ion-view view-title="Complete Your Profile">
    <ion-content scroll = "false">
        <div class="grid-containerCompleteProfile">
            <div class="completeProfileHeader">
                <div class="completeProfileHeaderTitle">
                    <div class="completeProfileHeaderTitleWord"><p>Welcome!</p></div>
                    <div class="completeProfileHeaderBack"><img src = "/img/back.png" alt = "back" ng-click="completeProfile.back()" href = "#/signUp"></div>
                </div>
                <div class="completeProfileHeaderMsg"><p>Create an account to continue</p></div>
            </div>
            <div class="completeProfileDetails">
                <div class="completeProfileUser">
                    <div class="completeProfileUserName"><p class = "inputTitleP">Email</p></div>
                    <div class="completeProfileUserInput"><input class = "inputP" placeholder = "Enter your email address" type="email" ng-model="completeProfile.email" required = "true"></div>
                </div>
                <div class="completeProfileFirst">
                    <div class="completeProfileFirstName"><p class = "inputTitleP">Date of Birth</p></div>
                    <div class="completeProfileFirstInput"><input class = "inputP" placeholder = "Select your date of birth" type="date" ng-model="completeProfile.dob" required = "true"></div>
                </div>
                <div class="completeProfileLast">
                    <div class="completeProfileLastName"><p class = "inputTitleP">Gender</p></div>
                    <div class="completeProfileLastInput">
                        <select class = "inputP" style="background-color: transparent; border-radius: 0%" ng-model="completeProfile.gender" required = "true">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                            <option value="notSay">Prefer not to say</option>
                        </select>
                    </div>
                </div>
                <div class="terms"></div>
            </div>
            <div class="completeProfileActions">
                <div class = "buttonNext" ng-click="completeProfile.signUp()" href="#/login"><p>Sign Up</p></div>
            </div>
        </div>
    </ion-content>
</ion-view>