<ion-view view-title="Edit Profile">
        <ion-content>
          

                <div class = "ui center aligned segment"> 

                        <div>
                  
                           <img class="ui centered small circular image" src="img/user.png">

                            <a class="profile-picture positive" ng-click="editProfile.updatePicture()">
                                <div ng-if="editProfile.user.profile.picture">
                                  <img ng-src="{{ editProfile.user.profile.picture }}" alt="profile picture">
                                  edit
                                </div>
                                <div ng-if="!editProfile.user.profile.picture" class="upload-placehoder">
                                  Add photo
                                </div>
                                </a>
                            

                              </div>          
                            
                              <form class="ui form" style="padding-top: 5%">
                                    <div class="field">
                                      <label>First Name</label>
                                      <input type="text" name="first-name" ng-model="editProfile.name">
                                    </div>

                                    <div class="field">
                                      <label>Last Name</label>
                                      <input type="text" name="last-name" ng-model="editProfile.surname">
                                    </div>

                                    <div class="field">
                                            <label>Email</label>
                                            <input type="text" name="last-name" ng-model="editProfile.email">
                                    </div>

                                    <div class="field">
                                            <label>Mobile Number</label>
                                            <input type="text" name="last-name" ng-model="editProfile.cell">
                                    </div>
                                    
                                    <button class="ui button" ng-click = "editProfile.done()">Save</button>
                                  </form>
                             
                        </div>
            
        </ion-content>
    </ion-view>
