<ion-view view-title="Forgot Password">
        <ion-content>
            <form>
                    <div class="ui form success">
                            <div class="field">
                              <label>E-mail</label>
                              <input placeholder="Enter your email" type="email">
                            </div>
                        </div>
                    <div class="ui horizontal divider">
                     </div>
                     <center>
                            <div class="ui submit button">Continue</div>
                     </center>
            </form>
        </ion-content>
    </ion-view>