<ion-view view-title="Section1">
        <ion-content scroll="false">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" ng-click="events.closeNav()">&times;</a>
                <a ui-sref = "section1">Events</a>
                <a ui-sref = "section2">Statistics</a>
                <a ui-sref = "section1">Settings</a>
            </div>
            
            <div id="main">
                <div class = "fixedHeader">
                    <img class = "hamburger" src = "/img/menu.png" alt = "menu" ng-click="events.openNav()">
                </div>
                <div class = "viewContent" ui-view = "sections">
                </div>
            </div>
        </ion-content>
    </ion-view>