<ion-view view-title="Log In" class = "loginView">
    <ion-content scroll="false">
        <div class = "titleBox"><p class = "loginTitle">TicketAdmin</p></div>
        <form class="ui form">
            <div class="field required loginUsr">
              <label>Username</label>
              <input type="text" name="username" placeholder="Username" ng-model="login.username" onclick = "$('.loginUsr').removeClass('error');">
            </div>
            <div class="field required loginPass">
              <label>Password</label>
              <input type="password" name="password" placeholder="Password" ng-model="login.pass" onclick = "$('.loginPass').removeClass('error');">
            </div>
            <button class="ui button" type="submit" ng-click="login.login()" href = "#/events">Submit</button>
          </form>
    </ion-content>
</ion-view>
